.vscode
crash-reports
downloads
ESM
fancymenu_data
journeymap
local
localconfigs
logs
modernfix
mods
patchouli*
resourcepacks/
saves
shaderpacks
screenshots
options.txt
.curseclient
rhino*
user*
prettypipesprefs
emi.json